<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aptitude Plus - Page 4</title>
    <style>
        <%- customFonts %><%- customCSS %>
    </style>
</head>

<body>
    <div>
        <div style="padding-top:75px;">
            <p
                style="font-family:notosanscjkscregular;font-weight:600;;color:#391A56;font-size:20px;text-align:center;line-height:1.8em;">
                Complementing Your Personality
            </p>
            <hr style="width:73%;text-align:center;height:0.5px;color:#E2E2E3">
        </div>

        <div style="margin-left:150px;margin-top:480px;">
            <!-- top picture-->
            <div style="margin-top:-425px;margin-left:175px;z-index:1">
                <svg xmlns="http://www.w3.org/2000/svg" width="175" height="195" viewBox="0 0 175 195">
                    <g id="Group_7595" data-name="Group 7595" transform="translate(-523 -100)">
                        <g id="Group_3570" data-name="Group 3570" transform="translate(523 100)">
                            <path id="Polygon_9" data-name="Polygon 9"
                                d="M128.161,0l42.72,73.543-42.72,73.543H42.72L0,73.543,42.72,0Z"
                                transform="translate(147.086 0) rotate(90)" fill="#f0eeff" />
                            <g id="아트웍_6" data-name="아트웍 6" transform="translate(75.209 84.99)">
                                <g id="아트웍_6-2" data-name="아트웍 6" transform="translate(-49.566 -76.122)">
                                    <path id="Path_9347" data-name="Path 9347"
                                        d="M139.089,217.745s12.8-33.164,17.52-46.475c1.024-2.844-11.206-3.982-13.027-1.251-3.47,5.176-6.542,41.867-8.59,46.645C134.766,217.233,139.089,218.371,139.089,217.745Z"
                                        transform="translate(-58.199 -72.551)" fill="#ff505c" />
                                    <path id="Path_9348" data-name="Path 9348"
                                        d="M108.5,123.054c6.087,11.434,25.314,30.206,25.314,30.206l11.889-7.395s-11.832-32.026-17.52-36.634C124.487,106.216,105.829,117.991,108.5,123.054Z"
                                        transform="translate(-46.669 -46.804)" fill="#5d33c5" />
                                    <path id="Path_9349" data-name="Path 9349"
                                        d="M121.567,148.159c2.1,1.251,7.167,2.56,8.362,4.721a43.13,43.13,0,0,0,7.907,9.955c1.65,1.65-.4,5.973-.4,5.973S121.966,153.677,114.4,142.3C116.5,143.665,119.292,146.794,121.567,148.159Z"
                                        transform="translate(-49.324 -61.272)" fill="#765eed" />
                                    <path id="Path_9350" data-name="Path 9350"
                                        d="M135.8,209.836c2.048-12.287,5.347-36.235,8.191-40.331s12.059-1.82,13.425.91c2.218,4.437-9.955,28.556-14.335,41.014A16.5,16.5,0,0,1,135.8,209.836Z"
                                        transform="translate(-58.551 -72.037)" fill="#5d33c5" />
                                    <path id="Path_9351" data-name="Path 9351"
                                        d="M143.821,171.7c-2.844,4.778-6.03,27.987-8.021,40.047l1.365.569V212.2c.8-3.47,3.129-6.2,3.356-9.727.114-1.82-2.332-6.712.853-8.7s1.365-7.167,1.707-10.125c.455-4.039,2.446-3.641,3.072-7.736C146.267,175.284,143.878,171.814,143.821,171.7Z"
                                        transform="translate(-58.551 -73.948)" fill="#765eed" />
                                    <path id="Path_9352" data-name="Path 9352"
                                        d="M108.507,128.826c-4.778,10.012-20.82,26.565-20.82,26.565L75.4,148.679s8.248-28.044,13.368-32.083C92.067,114.036,110.611,124.389,108.507,128.826Z"
                                        transform="translate(-32.509 -50.016)" fill="#5d33c5" />
                                    <path id="Path_9353" data-name="Path 9353"
                                        d="M88.768,116.507c2.958-2.332,17.919,3.7,15.416,8.078-1.195,2.1-8.646,1.251-13.14,2.844-2.674.967,7.167,6.826-2.787,13.027-1.308.853,1.081,5.063.569,7.111-.853,3.584-7.509-3.7-9.5-.853-.626.91-3.925,1.82-3.925,1.82S83.648,120.545,88.768,116.507Z"
                                        transform="translate(-32.509 -49.927)" fill="#765eed" />
                                    <path id="Path_9354" data-name="Path 9354"
                                        d="M13.2,176.97s27.02.91,41.127.341c3.015-.114,3.242-11.32,0-12-6.087-1.251-36.406,7.622-41.639,7.452C12.067,172.76,12.636,177.254,13.2,176.97Z"
                                        transform="translate(-5.355 -71.14)" fill="#ff505c" />
                                    <path id="Path_9355" data-name="Path 9355"
                                        d="M25.888,169.045c-.228,5.063,1.991,7.281,2.389,7.736,12.913.4,35.041,1.82,38.056-1.707,3.925-4.551-.057-12.685-3.3-13.368a8.249,8.249,0,0,0-1.82-.114H60.189C52.794,162.162,36.3,166.542,25.888,169.045Z"
                                        transform="translate(-11.155 -69.586)" fill="#5d33c5" />
                                    <path id="Path_9356" data-name="Path 9356"
                                        d="M26.969,174.807a12.063,12.063,0,0,1-1.081-5.8c9.784-2.332,24.858-5.973,32.595-7.224,14.9-2.389,7.452,10.808,5.632,11.149-7.338,1.308-8.476-4.266-18.487-1.251-9.1,2.73-11.889-3.072-15.416,2.218C29.358,175.206,28.221,174.694,26.969,174.807Z"
                                        transform="translate(-11.155 -69.546)" fill="#765eed" />
                                    <path id="Path_9357" data-name="Path 9357"
                                        d="M25.9,153.186a6.825,6.825,0,0,0,.057.967c2.5-.683,9.67-2.446,13.311-1.763,2.275.455,4.266-.455,6.371-1.365a16.678,16.678,0,0,1,8.533-1.82c5.632.569,6.485-1.365,7-4.721l.171-1.251c.114-.8.228-1.65.4-2.617,1.024-5.8,7.793-18.146,7.85-18.26l-.853-.455c-.284.512-6.883,12.628-7.964,18.6-.171.967-.284,1.877-.4,2.674a13.978,13.978,0,0,1-.228,1.479c-.455,3.072-1.251,4.209-5.916,3.7s-6.6.8-9.045,1.877-3.811,1.707-5.8,1.308C35.684,150.684,28.63,152.447,25.9,153.186Z"
                                        transform="translate(-11.167 -52.476)" fill="#fff" />
                                    <path id="Path_9358" data-name="Path 9358"
                                        d="M26.5,157.128a6.877,6.877,0,0,0,.284,1.024c2.5-.683,10.865-2.844,14.506-2.162,2.275.455,4.266-.455,6.371-1.365a16.678,16.678,0,0,1,8.533-1.82c5.632.569,6.485-1.365,7-4.721l.171-1.251c.114-.8.228-1.65.4-2.617,1.024-5.8,7.793-18.146,7.85-18.26l-.853-.455c-.284.512-6.883,12.628-7.964,18.6-.171.967-.284,1.877-.4,2.674a13.982,13.982,0,0,1-.228,1.479c-.455,3.072-1.195,4.209-5.916,3.7s-6.6.8-9.045,1.877-3.811,1.707-5.8,1.308C37.649,154.284,29.174,156.388,26.5,157.128Z"
                                        transform="translate(-11.426 -54.028)" fill="#fff" />
                                    <path id="Path_9359" data-name="Path 9359"
                                        d="M94.571,33.769s1.308-1.991-.171-2.787-2.332-3.868-4.892-1.195-4.437.91-4.039-.739a2.389,2.389,0,0,0,.74,3.356,2.332,2.332,0,0,1-1.934-1.024s-1.877,2.56,2.219,3.982S93.66,35.021,94.571,33.769Z"
                                        transform="translate(-36.15 -12.299)" fill="#483680" />
                                    <path id="Path_9360" data-name="Path 9360"
                                        d="M101.381,37.046c-.569.057-1.081-.171-1.081-.569s.4-.683.967-.8,1.081.171,1.081.569S101.95,36.989,101.381,37.046Z"
                                        transform="translate(-43.245 -15.291)" fill="#fb8585" />
                                    <path id="Path_9361" data-name="Path 9361"
                                        d="M87.228,42.868c1.251-2.446.4-6.03-3.186-6.542a4.22,4.22,0,0,0-3.186.626,3.156,3.156,0,0,0-5.29.512c-2.5,3.641-5.973.171-7.566,5.688s-6.712.967-5.575,8.362S55.6,58.227,55.6,58.227,59.07,68.3,76.135,62.55c5.518-1.877,10.41-6.826,11.377-12.685C87.8,47.931,86.318,44.632,87.228,42.868Z"
                                        transform="translate(-23.972 -15.311)" fill="#483680" />
                                    <path id="Path_9362" data-name="Path 9362"
                                        d="M58,98.6a89.773,89.773,0,0,0-6.712,16.383c-.114.569.512,1.763,1.934,1.024s15.814-17.464,9.784-19.91C61.359,95.468,60.335,94.615,58,98.6Z"
                                        transform="translate(-22.108 -41.118)" fill="#ff505c" />
                                    <path id="Path_9363" data-name="Path 9363"
                                        d="M51.743,130.631c.683.967-.967,1.934-1.081,2.787s-.569-.8,0-1.763a19.566,19.566,0,0,0-2.218,2.73c-.569.967-1.138-.853-1.991-1.251s-.739-.228-.683-.626a4.153,4.153,0,0,1,1.479-2.446c1.877-1.707,1.422-1.82,2.048-2.9s2.5.967,2.5.967S51.061,129.664,51.743,130.631Z"
                                        transform="translate(-19.717 -54.609)" fill="#ff505c" />
                                    <path id="Path_9364" data-name="Path 9364"
                                        d="M85.226,74.675C84.2,76.04,71.687,89.238,68.331,90.375a3.292,3.292,0,0,1-4.039-4.608C65.6,83.834,77.774,69.954,80.22,68.873,84.088,67.11,87.9,71.091,85.226,74.675Z"
                                        transform="translate(-27.545 -29.427)" fill="#ff505c" />
                                    <path id="Path_9365" data-name="Path 9365"
                                        d="M116.819,59.274c4.039-2.446,8.874-8.931,11.263-12.685s-2.162-8.191-4.949-4.665c-4.608,5.916-12.116,12.913-12.515,14.961C109.879,60.468,113.065,61.549,116.819,59.274Z"
                                        transform="translate(-47.647 -17.438)" fill="#ff505c" />
                                    <path id="Path_9366" data-name="Path 9366"
                                        d="M134.052,31.588c.683-7.793-7.338-19.739-8.7-21.1s-2.958.171-2.674.8c1.65,3.641,4.608,18.374,4.778,19.739C127.965,33.977,134.052,31.588,134.052,31.588Z"
                                        transform="translate(-52.878 -4.202)" fill="#ff505c" />
                                    <path id="Path_9367" data-name="Path 9367"
                                        d="M102.247,55.46c.683-3.527-1.422-8.191-1.422-8.191l3.015-.569s-.341,5.12,1.479,8.191c0,0,3.925-.626,6.03.853,0,0-.8,7.452-5.973,8.419s-8.476-5.8-8.476-5.8C98.379,56.257,102.247,55.46,102.247,55.46Z"
                                        transform="translate(-41.779 -20.053)" fill="#ff505c" />
                                    <path id="Path_9368" data-name="Path 9368"
                                        d="M88.4,101.193a49.421,49.421,0,0,0,20.877,2.1c7.395-1.024,15.529-8.476,15.529-8.476-4.266-10.694-15.3-13.2-14.961-18.6s1.877-7.395-1.195-9.727-3.7-6.542-3.7-6.542c-1.82-.626-2.275.455-2.275.455s1.138.171.683.4-.853,1.536-1.365,3.754a2.617,2.617,0,0,1-.228.626,1.081,1.081,0,0,1-.74.683h-.171a1.536,1.536,0,0,1-1.138-.8h0v-.057A5.632,5.632,0,0,0,95.909,62.4h-.853s-4.153,2.1-5.29,2.844c0,0,6.03,1.195,4.323,3.925s.057,4.608,2.275,9.557S88.741,89.7,88.4,101.193Z"
                                        transform="translate(-38.114 -25.683)" fill="#ffd341" />
                                    <path id="Path_9369" data-name="Path 9369"
                                        d="M110.106,83.136c2.389,1.251,4.949,2.5,6.6,4.665a35.215,35.215,0,0,1,4.437,9.045,64.425,64.425,0,0,0,2.674,7.509,2.718,2.718,0,0,1,.512,1.308,30.831,30.831,0,0,0,7.736-5.518c-4.153-10.751-15.416-13.2-15.017-18.6s1.877-7.224-.74-9.443c-.171.114.512,8.476-5.632,6.712-1.479,2.332-5.12,1.422-5.575,1.479C106.75,81.2,108.456,82.282,110.106,83.136Z"
                                        transform="translate(-45.314 -31.004)" fill="#ffa700" />
                                    <path id="Path_9370" data-name="Path 9370"
                                        d="M102.08,42.369a11.206,11.206,0,0,1,2.844-.569c2.389.171,1.877,4.266,1.991,5.518s-1.365,2.162-1.934,2.275-2.332-.455-2.617-1.365S99.918,43.393,102.08,42.369Z"
                                        transform="translate(-43.602 -17.94)" fill="#ff505c" />
                                    <path id="Path_9371" data-name="Path 9371"
                                        d="M103.262,41.084a2.787,2.787,0,0,1-1.82,3.015c-2.275.967-.967,2.5-.967,2.5s-2.844-2.674-.284-5.4C101.5,39.775,103.262,41.084,103.262,41.084Z"
                                        transform="translate(-42.737 -17.395)" fill="#483680" />
                                    <path id="Path_9372" data-name="Path 9372"
                                        d="M106.283,41.574a1.877,1.877,0,0,0,1.195,2.048,1.365,1.365,0,0,1,.683,1.991,2.4,2.4,0,0,0,.228-3.641C106.795,40.379,106.283,41.574,106.283,41.574Z"
                                        transform="translate(-45.815 -17.658)" fill="#483680" />
                                    <path id="Path_9373" data-name="Path 9373"
                                        d="M105.1,52.212a4.266,4.266,0,0,0,2.332-.512s-.171,1.365-.853,1.536S105.1,52.212,105.1,52.212Z"
                                        transform="translate(-45.314 -22.209)" fill="#fff" />
                                    <path id="Path_9374" data-name="Path 9374"
                                        d="M118.484,5.968c-1.195-.057-.967-1.934-1.593-2.5s.967,0,1.422,1.024a19.568,19.568,0,0,0-.853-3.413c-.4-1.024,1.365-.4,2.218-.853s.626-.455.91-.171a4.153,4.153,0,0,1,1.081,2.617c.228,2.5,1.081,3.356,1.081,3.356l-2.275,1.422S119.678,6.025,118.484,5.968Z"
                                        transform="translate(-50.336 0.144)" fill="#ff505c" />
                                    <g id="Group_3546" data-name="Group 3546" transform="translate(73.779 139.449)">
                                        <g id="Group_3545" data-name="Group 3545">
                                            <path id="Path_9375" data-name="Path 9375"
                                                d="M131.95,249.494c-.4.4-1.081.853-1.65,3.129l10.467,5.063a9.615,9.615,0,0,0,1.934.057l.228-.967-.228-.114a1.593,1.593,0,0,0-.512-1.536,29.377,29.377,0,0,1-2.674-1.877h0c-1.991-1.82-2.275-3.527-1.536-5.12a7.453,7.453,0,0,1,1.024-1.65c-1.308-1.138-2.1.228-3.129-.171A4.664,4.664,0,0,1,133.884,245S132.86,248.641,131.95,249.494Z"
                                                transform="translate(-129.959 -245)" fill="#32187c" />
                                            <path id="Path_9376" data-name="Path 9376"
                                                d="M135.445,261.079v-.341l-2.73-1.365-.228.284-2.787-1.365c.114-.284.228-1.081.4-1.65a.114.114,0,0,1,.171-.057l1.479.853,2.048,1.707a20.252,20.252,0,0,0,5.347,2.332,7.737,7.737,0,0,0,3.242.284h.114l-.228.967a5.8,5.8,0,0,1-2.162-.114,17.919,17.919,0,0,1-4.665-1.536Z"
                                                transform="translate(-129.7 -249.987)" fill="#00cbb1" />
                                            <path id="Path_9377" data-name="Path 9377"
                                                d="M140.721,250.871s-1.991,4.1.455,5.29a3.129,3.129,0,0,0,2.674-.171l-.114-.171h0c-1.991-1.82-2.275-3.527-1.536-5.12Z"
                                                transform="translate(-134.122 -247.458)" fill="#1f0d52" />
                                        </g>
                                        <path id="Path_9378" data-name="Path 9378"
                                            d="M135.46,246.571s.171.455,1.65,1.251a.569.569,0,0,1,.228.74l-.455.91a.569.569,0,0,1-.8.284,4.21,4.21,0,0,1-1.365-1.024C134.208,247.993,135.744,245.775,135.46,246.571Z"
                                            transform="translate(-131.819 -245.604)" fill="#00cbb1" />
                                    </g>
                                    <g id="Group_3548" data-name="Group 3548" transform="translate(0 101.052)">
                                        <g id="Group_3547" data-name="Group 3547">
                                            <path id="Path_9379" data-name="Path 9379"
                                                d="M4.727,178.41c-.512-.114-1.308-.455-3.527.341l1.479,11.491a9.613,9.613,0,0,0,1.024,1.65l.91-.341v-.227a1.593,1.593,0,0,0,1.024-1.251c.057-.626-.057-2.446.057-3.3h0c.455-2.674,1.707-3.811,3.413-4.1a7.509,7.509,0,0,1,1.991-.057c.228-1.706-1.308-1.65-1.593-2.73a4.664,4.664,0,0,1,0-2.389S5.978,178.695,4.727,178.41Z"
                                                transform="translate(-0.517 -177.5)" fill="#32187c" />
                                            <path id="Path_9380" data-name="Path 9380"
                                                d="M.8,185.814l.284-.114-.341-3.015H.4L0,179.557l1.593-.569a.114.114,0,0,1,.171.114l.114,1.65-.284,2.674a20.251,20.251,0,0,0,1.024,5.745,7.736,7.736,0,0,0,1.479,2.9v.114l-.91.341A5.8,5.8,0,0,1,2.1,190.649,17.919,17.919,0,0,1,.8,185.814Z"
                                                transform="translate(0 -178.135)" fill="#00cbb1" />
                                            <path id="Path_9381" data-name="Path 9381"
                                                d="M10.339,184.7s-4.494.626-4.153,3.242A3.129,3.129,0,0,0,7.779,190.1v-.228h0c.455-2.674,1.707-3.811,3.413-4.1Z"
                                                transform="translate(-2.659 -180.604)" fill="#1f0d52" />
                                        </g>
                                        <path id="Path_9382" data-name="Path 9382"
                                            d="M12.458,177.99s-.284.4-.171,2.048a.569.569,0,0,1-.512.626l-1.024.114a.569.569,0,0,1-.683-.512,4.153,4.153,0,0,1,.114-1.707C10.524,177.706,13.254,177.763,12.458,177.99Z"
                                            transform="translate(-4.324 -177.649)" fill="#00cbb1" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <!-- middle triangle-->
            <div style="margin-top:-90px;margin-left:80px;z-index:-1;position: absolute;">
                <svg xmlns="http://www.w3.org/2000/svg" width="350" height="275" viewBox="0 0 350 275">
                    <path id="Polygon_37" data-name="Polygon 37" d="M168.5,0,350,275H0Z" fill="#f1f9ff" />
                </svg>
            </div>

            <!-- left picture-->
            <div style="margin-top:100px;margin-left:0px;z-index:1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150"
                    height="195" viewBox="0 0 150 195">
                    <defs>
                        <linearGradient id="linear-gradient" x1="-132.169" y1="0.342" x2="-132.011" y2="0.444"
                            gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#05000e" />
                            <stop offset="1" stop-color="#05000e" />
                        </linearGradient>
                        <linearGradient id="linear-gradient-2" x1="162.394" y1="4.27" x2="162.41" y2="5.758"
                            gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#060673" />
                            <stop offset="0.34" stop-color="#261e9d" />
                            <stop offset="0.78" stop-color="#4b3ccf" />
                            <stop offset="1" stop-color="#5a47e3" />
                        </linearGradient>
                        <linearGradient id="linear-gradient-3" x1="188.672" y1="0.194" x2="187.949" y2="1.045"
                            xlink:href="#linear-gradient-2" />
                        <linearGradient id="linear-gradient-4" x1="-179.83" y1="3.631" x2="-180.592" y2="5.184"
                            xlink:href="#linear-gradient-2" />
                        <radialGradient id="radial-gradient" cx="1.085" cy="-2.761" r="0.496"
                            gradientTransform="matrix(-1, 0.03, 0.03, 1, -2633.154, 39.488)"
                            gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#f63c4b" />
                            <stop offset="0.4" stop-color="#f84150" />
                            <stop offset="0.9" stop-color="#fe5060" />
                            <stop offset="1" stop-color="#ff5464" />
                        </radialGradient>
                    </defs>
                    <g id="Group_12085" data-name="Group 12085" transform="translate(-77 -4580)">
                        <path id="Polygon_9" data-name="Polygon 9"
                            d="M128.161,0l42.72,73.543-42.72,73.543H42.72L0,73.543,42.72,0Z"
                            transform="translate(224.085 4580) rotate(90)" fill="#f0eeff" />
                        <g id="아트웍_11" data-name="아트웍 11" transform="translate(150.092 4675.372)">
                            <g id="Group_2250" data-name="Group 2250" transform="translate(-72.169 -60.787)">
                                <g id="Group_2238" data-name="Group 2238" transform="translate(0 52.506)">
                                    <path id="Path_5485" data-name="Path 5485"
                                        d="M50.4,171.4h4.612v9.839a.676.676,0,0,1-.676.676H51.076a.676.676,0,0,1-.676-.676Z"
                                        transform="translate(-19.396 -118.444)" fill="#ff5f00" />
                                    <path id="Path_5486" data-name="Path 5486"
                                        d="M64.373,177.167a4.489,4.489,0,0,0-2.829-5.657l-20.908-6.887V152.2H33.687v12.545l-20.6,6.764a4.489,4.489,0,0,0-2.829,5.657l27.057-8.917h0Z"
                                        transform="translate(-3.852 -111.051)" fill="#ffd400" />
                                    <path id="Path_5487" data-name="Path 5487"
                                        d="M49.168,145.6h5.473a1.23,1.23,0,0,1,1.23,1.23v16.05H48V146.768A1.23,1.23,0,0,1,49.168,145.6Z"
                                        transform="translate(-18.472 -108.51)" fill="#ffd400" />
                                    <g id="Group_2235" data-name="Group 2235" transform="translate(4.131 60.028)">
                                        <path id="Path_5488" data-name="Path 5488"
                                            d="M15.555,187.328a4.428,4.428,0,1,0-4.428,4.428,4.428,4.428,0,0,0,4.428-4.428Z"
                                            transform="translate(-6.7 -182.9)" fill="#060673" />
                                        <ellipse id="Ellipse_328" data-name="Ellipse 328" cx="3.444" cy="3.444"
                                            rx="3.444" ry="3.444" transform="translate(0.984 0.984)" fill="#ffb000" />
                                    </g>
                                    <g id="Group_2236" data-name="Group 2236" transform="translate(28.852 60.028)">
                                        <path id="Path_5489" data-name="Path 5489"
                                            d="M55.755,187.328a4.428,4.428,0,1,0-4.428,4.428,4.428,4.428,0,0,0,4.428-4.428Z"
                                            transform="translate(-46.9 -182.9)" fill="#060673" />
                                        <ellipse id="Ellipse_329" data-name="Ellipse 329" cx="3.444" cy="3.444"
                                            rx="3.444" ry="3.444" transform="translate(0.984 0.984)" fill="#ffb000" />
                                    </g>
                                    <g id="Group_2237" data-name="Group 2237" transform="translate(54.31 60.028)">
                                        <path id="Path_5490" data-name="Path 5490"
                                            d="M97.155,187.328a4.428,4.428,0,1,0-4.428,4.428,4.428,4.428,0,0,0,4.428-4.428Z"
                                            transform="translate(-88.3 -182.9)" fill="#060673" />
                                        <ellipse id="Ellipse_330" data-name="Ellipse 330" cx="3.444" cy="3.444"
                                            rx="3.444" ry="3.444" transform="translate(0.984 0.984)" fill="#ffb000" />
                                    </g>
                                    <path id="Path_5491" data-name="Path 5491"
                                        d="M63.435,116.41a3.505,3.505,0,0,1-3.505,3.505H30.72l-2.091-.676c-5.288-1.66-18.756-6.088-19.617-7.441S5.2,85.294,5.2,85.294H34.41a3.505,3.505,0,0,1,3.751,3.2l.738,15.5a9.716,9.716,0,0,0,9.655,8.917H59.929A3.505,3.505,0,0,1,63.435,116.41Z"
                                        transform="translate(-1.991 -85.284)" fill="#ffd400" />
                                    <path id="Path_5492" data-name="Path 5492"
                                        d="M55.074,145.511h-11.5c-1.66,0-3.075-2.4-3.075-5.411H58.149C58.149,143.052,56.734,145.511,55.074,145.511Z"
                                        transform="translate(-15.584 -106.392)" fill="#ff5f00" />
                                    <path id="Path_5493" data-name="Path 5493"
                                        d="M78.105,133.705A3.505,3.505,0,0,1,74.6,137.21H43.3V130.2H74.6A3.505,3.505,0,0,1,78.105,133.705Z"
                                        transform="translate(-16.662 -102.58)" fill="#ffd400" />
                                    <path id="Path_5494" data-name="Path 5494"
                                        d="M28.711,119.933H17.334A16.788,16.788,0,0,1,.669,104.56L-.007,89.125A3.516,3.516,0,1,1,7,88.572l.676,15.5a9.716,9.716,0,0,0,9.655,8.917H28.711a3.505,3.505,0,1,1,0,7.01Z"
                                        transform="translate(0.018 -85.303)" fill="#ffb000" />
                                </g>
                                <path id="Path_5495" data-name="Path 5495"
                                    d="M141.8,172.945l2.4,4.3,2.152-.738-.676-5.411Z"
                                    transform="translate(-54.591 -65.823)" fill="#ff6b79" />
                                <path id="Path_5496" data-name="Path 5496"
                                    d="M147.274,178s9.163-3.075,12.545.984l-15,5.042s-2.337-2.89-.184-4.981A2.336,2.336,0,0,0,147.274,178Z"
                                    transform="translate(-55.329 -68.05)" fill="#0f00a7" />
                                <path id="Path_5497" data-name="Path 5497"
                                    d="M106.8,179.353l.861,4.8,2.829.185.553-5.534Z"
                                    transform="translate(-41.114 -68.788)" fill="#ff6b79" />
                                <path id="Path_5498" data-name="Path 5498"
                                    d="M67.991,91.6s21.461,3.628,29.087,11.315c9.1,9.286,15.558,38.188,15.558,38.188l-4.92,2.46s-14.451-22.445-19.8-27.857-21.092-.676-29.394-4.858C41.856,102.361,67.991,91.6,67.991,91.6Z"
                                    transform="translate(-20.384 -35.21)" fill="#060673" />
                                <g id="Group_2239" data-name="Group 2239" transform="translate(38.199 60.325)">
                                    <path id="Path_5499" data-name="Path 5499"
                                        d="M106.314,138.463s-12.36-19.678-17.1-22.138L62.1,102.674,65.79,98s24.413,2.337,30.07,10.331C104.1,120.015,106.314,138.463,106.314,138.463Z"
                                        transform="translate(-62.1 -98)" fill="url(#linear-gradient)" />
                                </g>
                                <path id="Path_5500" data-name="Path 5500"
                                    d="M34.924,91.6S67.638,95.72,75.2,103.407c9.1,9.286,6.826,43.169,6.826,43.169l-4.981.553S70.16,123.146,64.81,117.735s-18.448-.184-27.119-3.505C23.3,108.634,34.924,91.6,34.924,91.6Z"
                                    transform="translate(-11.729 -35.21)" fill="#060673" />
                                <path id="Path_5501" data-name="Path 5501"
                                    d="M109.755,186.6s9.716,0,11.561,4.919h-15.8s-1.291-3.444,1.476-4.8A2.344,2.344,0,0,0,109.755,186.6Z"
                                    transform="translate(-40.501 -71.791)" fill="#0f00a7" />
                                <path id="Path_5502" data-name="Path 5502"
                                    d="M113.553,183.275c-1.045-.307-1.537,1.23-1.66,1.968a.569.569,0,0,0,1.045.43l.123-.123C113.43,185.058,114.906,183.644,113.553,183.275Z"
                                    transform="translate(-43.07 -70.495)" fill="#060673" />
                                <path id="Path_5503" data-name="Path 5503"
                                    d="M82.66,60.965c5.534,1.414,13.713,1.353,22.445,0V57.522S89.24,53.34,83.767,50.881c-1.537-.676-4.612-4.489-6.58-6.7C73.5,39.935,67.04,31.94,61.936,33.908,46.686,39.75,72.267,58.26,82.66,60.965Z"
                                    transform="translate(-22.016 -12.877)" fill="#5a47e2" />
                                <g id="Group_2240" data-name="Group 2240" transform="translate(43.918 21.338)">
                                    <path id="Path_5504" data-name="Path 5504"
                                        d="M86.527,60.673a67.462,67.462,0,0,0-5.842-18.448s-4.551-5.9-9.286-7.625c0,0,4.92,19.617,10.023,23.983C82.776,59.751,86.527,60.673,86.527,60.673Z"
                                        transform="translate(-71.4 -34.6)" fill="url(#linear-gradient-2)" />
                                </g>
                                <path id="Path_5505" data-name="Path 5505"
                                    d="M70.185,71.17S56.472,81.317,28.37,77.135c0,0-3.751-46.243,20.6-45.936C63.79,31.384,66.988,58.81,70.185,71.17Z"
                                    transform="translate(-10.833 -11.951)" fill="#5a47e2" />
                                <g id="Group_2241" data-name="Group 2241" transform="translate(17.373 52.516)">
                                    <path id="Path_5506" data-name="Path 5506"
                                        d="M28.4,97.906a103.291,103.291,0,0,1,0-12.606s9.716.123,9.593,5.35a12.355,12.355,0,0,0,3.136,8.486Z"
                                        transform="translate(-28.233 -85.3)" fill="url(#linear-gradient-3)" />
                                </g>
                                <g id="Group_2242" data-name="Group 2242" transform="translate(19.997 20.047)">
                                    <path id="Path_5507" data-name="Path 5507"
                                        d="M43.507,33.176S40.433,57.958,32.5,63.616L64.723,61.4s-23.614-1.23-19.678-9.286c3.382-7.01.246-19.617.246-19.617Z"
                                        transform="translate(-32.5 -32.5)" fill="url(#linear-gradient-4)" />
                                </g>
                                <path id="Path_5508" data-name="Path 5508"
                                    d="M62.849,28.157s-1.66,3.136-6.949.061a10.024,10.024,0,0,0,.061-5.719l5.35,1.168S60.881,25.636,62.849,28.157Z"
                                    transform="translate(-21.514 -8.602)" fill="#ff5464" />
                                <path id="Path_5509" data-name="Path 5509"
                                    d="M57,4.872c-2.767.43-4.489,3.936-3.874,7.81s3.382,6.641,6.149,6.149,4.489-3.936,3.874-7.81S59.763,4.441,57,4.872Z"
                                    transform="translate(-20.396 -1.797)" fill="#ff6b79" />
                                <path id="Path_5510" data-name="Path 5510"
                                    d="M66.7,14.5a23.736,23.736,0,0,1,2.214,3.751.369.369,0,0,1-.246.492,10.885,10.885,0,0,1-2.521.369C65.342,18.989,66.7,14.5,66.7,14.5Z"
                                    transform="translate(-25.36 -5.522)" fill="#ff6b79" />
                                <g id="Group_2243" data-name="Group 2243" transform="translate(35.246 9.838)">
                                    <path id="Path_5511" data-name="Path 5511"
                                        d="M57.3,18.175A2.214,2.214,0,1,0,59.452,15.9,2.214,2.214,0,0,0,57.3,18.175Z"
                                        transform="translate(-57.299 -15.899)" fill="url(#radial-gradient)" />
                                </g>
                                <path id="Path_5512" data-name="Path 5512"
                                    d="M62.34,7.944A9.655,9.655,0,0,1,63.2,9.789a4.612,4.612,0,0,1-3.567-.861A5.1,5.1,0,0,0,54.1,8.805l.492-2.275L61.91,5.3Z"
                                    transform="translate(-20.821 -1.979)" fill="#ff3d53" />
                                <path id="Path_5513" data-name="Path 5513"
                                    d="M62.7,1.683C60.976.269,53.474-.407,50.4,1.806a4.674,4.674,0,0,1,0-1.353c.061-.738-1.045-.738-1.168,0A4.8,4.8,0,0,0,49.292,2.3a5.719,5.719,0,0,0-1.66.861c-.615.43-.062,1.414.553.984l.8-.369A13.108,13.108,0,0,0,47.817,11.4c.246.984.615,2.644,2.583,2.706,3.136.123.676-4.489,1.537-6.088a1.783,1.783,0,0,0,1.722-1.291C54.151,5.373,56,5.557,57.287,6.3s2.583,1.291,4.059.492S64.727,3.405,62.7,1.683Z"
                                    transform="translate(-18.227 0.1)" fill="#070040" />
                                <path id="Path_5514" data-name="Path 5514"
                                    d="M54.255,15.009s-.984-1.168-1.845-.307.246,3.751,1.6,2.89S54.255,15.009,54.255,15.009Z"
                                    transform="translate(-20.053 -5.478)" fill="#ff6b79" />
                                <path id="Path_5515" data-name="Path 5515"
                                    d="M65.891,31.7s-1.23,1.353-2.091,1.414l3.136,1.414-.185-2.644A3.321,3.321,0,0,0,65.891,31.7Z"
                                    transform="translate(-24.556 -12.145)" fill="#d4deff" />
                                <path id="Path_5516" data-name="Path 5516"
                                    d="M60.373,33.053A9.716,9.716,0,0,1,55.515,31.7l-.615.123s2.952,2.89,4.981,3.751Z"
                                    transform="translate(-21.129 -12.145)" fill="#d4deff" />
                                <path id="Path_5517" data-name="Path 5517"
                                    d="M39.41,33.6C20.777,34.4,20.162,63.486,23.3,67.852c6.58,9.1,21.4,4.981,34.191-1.476V61.7s-21.646.738-23.122-2.521C31.662,53.094,45.682,41.287,39.41,33.6Z"
                                    transform="translate(-8.406 -12.877)" fill="#5a47e2" />
                                <path id="Path_5518" data-name="Path 5518"
                                    d="M87.712,81.578l-.246-.123a.615.615,0,0,0-.184-.738c-1.66-1.168-3.505-1.045-5.411-1.23h-.8c-1.291-.061-2.952-.061-3.751,1.107A2.337,2.337,0,0,0,78,83.607a3.7,3.7,0,0,0,3.444-.43,6.949,6.949,0,0,1,2.952.369c.492.184.8-.369.676-.738l.861.43c.553.369,1.045-.369.738-.8l.369.184C87.774,82.931,88.389,81.947,87.712,81.578Z"
                                    transform="translate(-29.651 -30.538)" fill="#ff6b79" />
                                <g id="Group_2246" data-name="Group 2246" transform="translate(20.243 15.066)">
                                    <path id="Path_5519" data-name="Path 5519"
                                        d="M.676,0H4.182A.738.738,0,0,1,4.92.738v66.6H0V.738A.738.738,0,0,1,.676,0Z"
                                        transform="translate(14.328 106.507) rotate(180)" fill="#9eb0ff" />
                                    <g id="Group_2245" data-name="Group 2245" transform="translate(35.851 35.174)">
                                        <rect id="Rectangle_2429" data-name="Rectangle 2429" width="25.889"
                                            height="1.783" transform="translate(0 0.861)" fill="#9eb0ff" />
                                        <g id="Group_2244" data-name="Group 2244" transform="translate(0.799)">
                                            <rect id="Rectangle_2430" data-name="Rectangle 2430" width="1.476"
                                                height="1.064" fill="#9eb0ff" />
                                            <rect id="Rectangle_2431" data-name="Rectangle 2431" width="1.476"
                                                height="1.064" transform="translate(2.152)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2432" data-name="Rectangle 2432" width="1.476"
                                                height="1.064" transform="translate(4.366)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2433" data-name="Rectangle 2433" width="1.476"
                                                height="1.064" transform="translate(6.518)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2434" data-name="Rectangle 2434" width="1.476"
                                                height="1.064" transform="translate(8.671)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2435" data-name="Rectangle 2435" width="1.476"
                                                height="1.064" transform="translate(10.884)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2436" data-name="Rectangle 2436" width="1.476"
                                                height="1.064" transform="translate(13.037)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2437" data-name="Rectangle 2437" width="1.476"
                                                height="1.064" transform="translate(15.25)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2438" data-name="Rectangle 2438" width="1.476"
                                                height="1.064" transform="translate(17.403)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2439" data-name="Rectangle 2439" width="1.476"
                                                height="1.064" transform="translate(19.555)" fill="#9eb0ff" />
                                            <rect id="Rectangle_2440" data-name="Rectangle 2440" width="1.476"
                                                height="1.064" transform="translate(21.769)" fill="#9eb0ff" />
                                        </g>
                                    </g>
                                    <path id="Path_5520" data-name="Path 5520"
                                        d="M.676,0H4.182A.738.738,0,0,1,4.92.738v66.6H0V.738A.738.738,0,0,1,.676,0Z"
                                        transform="translate(34.437 106.507) rotate(180)" fill="#9eb0ff" />
                                    <path id="Path_5521" data-name="Path 5521"
                                        d="M.676,0H4.182A.738.738,0,0,1,4.92.738v66.6H0V.738A.738.738,0,0,1,.676,0Z"
                                        transform="translate(98.39 106.507) rotate(180)" fill="#d4deff" />
                                    <path id="Path_5522" data-name="Path 5522"
                                        d="M.676,0H4.182A.738.738,0,0,1,4.92.738v66.6H0V.738A.738.738,0,0,1,.676,0Z"
                                        transform="translate(118.56 106.507) rotate(180)" fill="#9eb0ff" />
                                    <rect id="Rectangle_2441" data-name="Rectangle 2441" width="48.949" height="29.025"
                                        rx="0.738" transform="translate(42.984)" fill="#d4deff" />
                                    <rect id="Rectangle_2442" data-name="Rectangle 2442" width="85.968" height="4.385"
                                        transform="translate(124.095 42.185) rotate(180)" fill="#d4deff" />
                                    <rect id="Rectangle_2443" data-name="Rectangle 2443" width="38.065" height="4.385"
                                        transform="translate(38.065 42.185) rotate(180)" fill="#9eb0ff" />
                                    <path id="Path_5523" data-name="Path 5523"
                                        d="M143.518,66.468H137V47.159a3.259,3.259,0,0,1,3.259-3.259h0a3.259,3.259,0,0,1,3.259,3.259Z"
                                        transform="translate(-72.985 -31.909)" fill="#9eb0ff" />
                                    <path id="Path_5524" data-name="Path 5524"
                                        d="M128.091,78.8h15.8a2.152,2.152,0,0,1,2.152,2.152v2.214H126V80.891A2.152,2.152,0,0,1,128.091,78.8Z"
                                        transform="translate(-68.749 -45.347)" fill="#d4deff" />
                                </g>
                                <g id="Group_2249" data-name="Group 2249" transform="translate(109.238 18.774)">
                                    <g id="Group_2247" data-name="Group 2247" transform="translate(2.384 20.151)">
                                        <path id="Path_5525" data-name="Path 5525"
                                            d="M194.706,65.3l-1.414,12.668h-9.778L182.1,65.3Z"
                                            transform="translate(-181.731 -64.009)" fill="#ffb000" />
                                        <path id="Path_5526" data-name="Path 5526"
                                            d="M182.1,64.684c0,.553,2.829.984,6.334.984s6.334-.43,6.334-.984-2.829-.984-6.334-.984S182.1,64.13,182.1,64.684Z"
                                            transform="translate(-181.731 -63.393)" fill="#ffb000" />
                                        <path id="Path_5527" data-name="Path 5527"
                                            d="M181.5,64.491c0-1.23,5.534-1.291,6.641-1.291s6.641.061,6.641,1.291-5.534,1.291-6.641,1.291S181.5,65.721,181.5,64.491Zm6.641-.676c-3.2,0-5.411.369-5.9.676.553.307,2.706.676,5.9.676s5.411-.369,5.9-.676C193.553,64.184,191.4,63.815,188.141,63.815Z"
                                            transform="translate(-181.5 -63.2)" fill="#ffd400" />
                                    </g>
                                    <g id="Group_2248" data-name="Group 2248" transform="translate(0 0)">
                                        <path id="Path_5528" data-name="Path 5528"
                                            d="M177.732,51.185c.246,1.353,1.906,1.845,3.013,2.029a2.446,2.446,0,0,0,2.89-1.168,11.868,11.868,0,0,0,2.214,2.89c.307.307.8-.184.492-.492a11.252,11.252,0,0,1-1.968-2.46,2.337,2.337,0,0,0,1.783-.307,1.66,1.66,0,0,0,.8-1.906,1.291,1.291,0,0,0-1.722-.8,3.4,3.4,0,0,0-1.537,1.783,16.85,16.85,0,0,1-1.168-3.505,1.476,1.476,0,0,0,1.353.184,2.583,2.583,0,0,0,1.6-2.029,1.353,1.353,0,0,0-1.66-1.291,2.275,2.275,0,0,0-1.537,1.476c-.123-1.045-.246-2.152-.307-3.2h0c.615-.738.307-1.968-.123-2.767s-1.476-2.152-2.4-2.029-.8.861-.984,1.23a2.214,2.214,0,0,0-.185,1.6c.43,1.168,1.906,1.906,3.013,2.337.062.861.123,1.722.246,2.583a3.382,3.382,0,0,0-1.414-.8c-.984-.246-2.152-.061-2.46,1.045a1.906,1.906,0,0,0,1.414,2.275A2.952,2.952,0,0,0,181.79,47a19.185,19.185,0,0,0,.861,3.075,5.473,5.473,0,0,0-2.644-.738C179.208,49.463,177.486,49.894,177.732,51.185Z"
                                            transform="translate(-177.623 -33.186)" fill="#5a47e2" />
                                        <path id="Path_5529" data-name="Path 5529"
                                            d="M189.521,33.978a19.493,19.493,0,0,1,1.23,6.272.984.984,0,0,0-.922-.43c-.553.123-.43.676-.246,1.045a1.906,1.906,0,0,0,1.107.922,5.108,5.108,0,0,1,.123.615,22.019,22.019,0,0,1-.369,3.505,3.321,3.321,0,0,0-1.045-1.845,1.045,1.045,0,0,0-1.66.43,1.906,1.906,0,0,0,.43,2.029,3.505,3.505,0,0,0,1.906,1.107c-.308,1.414-.738,2.89-1.107,4.3a.321.321,0,0,0,.615.184,54.922,54.922,0,0,0,1.66-7.133h0a3.161,3.161,0,0,0,2.644-.738,1.845,1.845,0,0,0,.184-2.214c-.492-.676-1.414-.307-1.968.123a3.259,3.259,0,0,0-.676.8v-.123a.308.308,0,0,0,.061-.184V41.112A31.06,31.06,0,0,0,191,36.5a7.929,7.929,0,0,0,2.706-2.521c.492-1.107.43-1.845-.307-2.4s-1.722.492-2.152,1.168a4.673,4.673,0,0,0-.676,2.091l-.369-1.045a.369.369,0,0,0,0-.246.307.307,0,0,0,0-.184,5.781,5.781,0,0,0-1.722-2.644,1.845,1.845,0,0,0-2.152.123c-.615.676-.123,1.722.492,2.214a4.674,4.674,0,0,0,2.706.922Z"
                                            transform="translate(-180.864 -30.431)" fill="#070040" />
                                        <path id="Path_5530" data-name="Path 5530"
                                            d="M193.973,56.491a34.373,34.373,0,0,1,2.644-4.612,1.6,1.6,0,0,0,.615,1.107,1.23,1.23,0,0,0,1.6,0,1.107,1.107,0,0,0,.062-1.537,1.845,1.845,0,0,0-1.537-.553l.861-1.168a7.768,7.768,0,0,0,4.243,1.537c1.414-.062,2.091-.553,2.091-1.6s-1.476-1.414-2.4-1.537a6.765,6.765,0,0,0-2.644.123l.553-.553a.246.246,0,0,0,.307-.307h0l.676-.676h0a6.7,6.7,0,0,0,5.1-.369,2.925,2.925,0,0,0,.922-3.628c-.553-1.23-2.583-.738-3.567-.246a5.288,5.288,0,0,0-2.644,3.444h-.123l-.492.492a5.227,5.227,0,0,0-.492-2.152,1.291,1.291,0,0,0-1.783-.553c-1.414.922-.615,3.69.738,4.3l-.738.861a.369.369,0,0,0-.184.246l-.8,1.045c-.553-1.23-1.476-2.767-2.829-1.537a1.23,1.23,0,0,0-.123,1.783,4.858,4.858,0,0,0,2.029.984,34.007,34.007,0,0,0-2.767,4.8C193.236,56.553,193.789,56.86,193.973,56.491Z"
                                            transform="translate(-183.656 -34.864)" fill="#5a47e2" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <!-- right picture-->
            <div style="margin-top:-200px;margin-left:360px;z-index:1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150"
                    height="195" viewBox="0 0 150 195">
                    <defs>
                        <radialGradient id="radial-gradient" cx="1.005" cy="-2.29" r="0.496"
                            gradientTransform="matrix(-1, 0.03, 0.03, 1, -2273.161, 34.09)"
                            gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#f63c4b" />
                            <stop offset="0.4" stop-color="#f84150" />
                            <stop offset="0.9" stop-color="#fe5060" />
                            <stop offset="1" stop-color="#ff5464" />
                        </radialGradient>
                    </defs>
                    <g id="Group_12127" data-name="Group 12127" transform="translate(-491 -443)">
                        <path id="Polygon_38" data-name="Polygon 38"
                            d="M128.161,0l42.72,73.543-42.72,73.543H42.72L0,73.543,42.72,0Z"
                            transform="translate(638.086 443) rotate(90)" fill="#f0eeff" />
                        <g id="아트웍_9" data-name="아트웍 9" transform="translate(554.953 526.129)">
                            <g id="아트웍_9-2" data-name="아트웍 9" transform="translate(-51.445 -72.821)">
                                <path id="Path_35621" data-name="Path 35621"
                                    d="M115.808,223.629c.425-.546,5.277-.121,5.338.182s.364,4.307-.061,4.731-4.61,1.4-4.731.546S115.323,224.175,115.808,223.629Z"
                                    transform="translate(-45.506 -87.875)" fill="#ff505c" />
                                <path id="Path_35622" data-name="Path 35622"
                                    d="M115.7,230.3s2.244,3.215.667,5.7c0,0-11.646.546-15.164,0,0,0-.121-4.307,2.912-4.671a55.4,55.4,0,0,1,6.43-.3S113.513,232.666,115.7,230.3Z"
                                    transform="translate(-39.814 -90.603)" fill="#1f0d52" />
                                <path id="Path_35623" data-name="Path 35623"
                                    d="M159.415,223.629c.425-.546,4.61-.121,4.671.182s.364,4.307-.061,4.731-4.064,1.88-4.185.971S158.99,224.175,159.415,223.629Z"
                                    transform="translate(-62.666 -87.875)" fill="#ff505c" />
                                <path id="Path_35624" data-name="Path 35624"
                                    d="M114.474,130.308c-.546,6.854-.061,20.684.485,27.538.061.485.061,16.378.061,16.378l-6.43.607c-3.518-10.494-10.19-33.968-10.19-44.341s.91-27.781,4.731-36.031,18.015,2.972,19.714,4.913c.789.91-.667,8.8-2.73,14.073S114.778,126.608,114.474,130.308Z"
                                    transform="translate(-38.713 -35.983)" fill="#5f40d5" />
                                <path id="Path_35625" data-name="Path 35625"
                                    d="M120.545,165.147c-.364-6.854-1.516-20.624-.97-27.478.3-3.7,4.792-14.315,7.158-20.381-.607-1.88.182-5.884-1.4-6.976s-6.308,4.792-6.854,6.49.364,3.033.485,4.307a12.434,12.434,0,0,1-1.577,6.976c-1.759,3.154-3.943,5.641-4.974,9.22-1.941,6.915-.364,14.133,1.213,20.987A73.57,73.57,0,0,1,116,171.334c.121,2.548.485,8.128.121,10.615l4-.364A135.4,135.4,0,0,0,120.545,165.147Z"
                                    transform="translate(-43.874 -43.344)" fill="#32187c" />
                                <path id="Path_35626" data-name="Path 35626"
                                    d="M153.758,174.607l-5.7.607c-2.972-9.887-10.979-26.75-12.131-37.062-1.82-16.074-4-33.3-4.125-37.547V99.574c3.943-4.792,10.615-6.733,13.587-7.1,1.152-.121,2,.061,2.426.728a44.47,44.47,0,0,1,2.912,5.641c4.792,11.4.728,18.258.849,33.058,0,.849,0,1.759.061,2.608.182,6.126-1.516,13.648.243,20.078C155.214,167.086,153.758,174.607,153.758,174.607Z"
                                    transform="translate(-51.853 -36.366)" fill="#5f40d4" />
                                <path id="Path_35627" data-name="Path 35627"
                                    d="M57.092,44.78c.243,7.825,2.366,13.891,7.218,13.527a21.048,21.048,0,0,0,10.918-3.7L76.017,54l1.213-1.031,1.4-1.456.182-.243a11.663,11.663,0,0,0,3.154-5.459,15.407,15.407,0,0,0,.425-3.457S87,26.947,83.3,28.342s-8.674,6.915-12.435,12.435H70.8l-.607.849-.364.485c-1.88,2.73-3.275,4.853-3.821,5.1s-1.82-3.336-2.73-6.915h0l-.3-1.274c-.667-2.548-1.274-4.671-1.941-4.853s-2.972-2.608-3.154-1.274a70.243,70.243,0,0,0-.789,11.889Z"
                                    transform="translate(-22.457 -11.112)" fill="#ff505c" />
                                <path id="Path_35628" data-name="Path 35628"
                                    d="M66.075,48.705l.97,5.459a5.156,5.156,0,0,0,.607,1.88,1.82,1.82,0,0,0,1.7.971c.91-.121,1.456-1.152,2.366-1.334a2.062,2.062,0,0,1,1.82.667,10.917,10.917,0,0,1,1.152,1.638c1.152,1.759,2.305,3.761,4.064,4.428l.789-.607,1.213-1.031,1.4-1.456A9.159,9.159,0,0,0,81.3,57.5c-1.759-3.033-3.579-6.187-6.248-8.492l-.728-.485-.607.849-.364.485c-1.88,2.73-3.275,4.853-3.821,5.1s-1.82-3.336-2.73-6.915h0a.485.485,0,0,0-.243-.243.425.425,0,0,0-.485.3A1.213,1.213,0,0,0,66.075,48.705Z"
                                    transform="translate(-25.98 -18.798)" fill="#fc3c4c" />
                                <path id="Path_35629" data-name="Path 35629"
                                    d="M85.633,53.57c1.213-1.152,2.972-2.426,4.549-3.7l1.7-1.456a9.219,9.219,0,0,0,1.7-1.88,2.669,2.669,0,0,0,.364-.849,41.123,41.123,0,0,0,.364-4.731c.182-6.066-.485-14.376-3.276-13.587C86.24,28.64,81.448,34.827,77.384,39.74,77.08,44.775,79.507,50.355,85.633,53.57Z"
                                    transform="translate(-30.435 -10.743)" fill="#b9dae1" />
                                <path id="Path_35630" data-name="Path 35630"
                                    d="M175.618,156.284a158.126,158.126,0,0,1-1.334-19.653c0-.849-.061-1.759-.061-2.608-.061-14.8,3.943-22.019-.849-33.422,0-2.3-5.4-3.4-5.4-2a27.655,27.655,0,0,0,.425,4.974c.485,2.851,1.092,5.7.667,8.674-.667,4.61-2.123,8.917-2.426,13.587-.546,8.613,1.4,16.5,4.307,24.445a65.555,65.555,0,0,1,3.882,15.164,110.417,110.417,0,0,1,.425,11.464l1.274-.121S162.983,172.055,175.618,156.284Z"
                                    transform="translate(-59.623 -38.545)" fill="#32187c" />
                                <path id="Path_35631" data-name="Path 35631"
                                    d="M92.589,32.4a18.1,18.1,0,0,0,.728,9.584c.485,1.456,2.487,5.58,3.639,9.1a19.23,19.23,0,0,0,2.487-2.608l-3.336-7.4Z"
                                    transform="translate(-36.299 -12.744)" fill="#1f0d52" />
                                <path id="Path_35632" data-name="Path 35632"
                                    d="M136.215,68.831c-.061.971-3.4,2.912-8.492,4.125a38.456,38.456,0,0,1-10.008.971c-7.946-.3-18.5-4.731-19.228-5.641-.789-3.882,3.761-12.5,2.123-17.712a62.784,62.784,0,0,0-3.154-6.854c-2.912-5.944-6.308-12.374-5.277-16.2,4.549-4.064,16.2-7.4,23.717-6.187a7.339,7.339,0,0,1,3.154,1.092l.546.485a17.4,17.4,0,0,1,2.123,2.851,90.566,90.566,0,0,1,7.461,16.256C131.848,49.6,136.336,67.5,136.215,68.831Z"
                                    transform="translate(-36.191 -8.292)" fill="#d3e7ec" />
                                <path id="Path_35633" data-name="Path 35633"
                                    d="M103.755,18.48V21.7s-.849,1.88,0,1.941c2.851.364,4.489-3.275,4.489-3.275V16.6Z"
                                    transform="translate(-40.671 -6.528)" fill="#ff505c" />
                                <path id="Path_35634" data-name="Path 35634"
                                    d="M108.9,19.041V17.1s-1.516,2.244-3.7,2.366A4.246,4.246,0,0,0,108.9,19.041Z"
                                    transform="translate(-41.388 -6.725)" fill="#fc3c4c" />
                                <path id="Path_35635" data-name="Path 35635"
                                    d="M101.048,4.8a22.382,22.382,0,0,0-1.759,5.944c-.3,2.184,3.457,5.641,6.733,2.487s2.366-7.885,2.366-7.885Z"
                                    transform="translate(-39.056 -1.885)" fill="#ff6b79" />
                                <path id="Path_35636" data-name="Path 35636"
                                    d="M113.84,9.793l.121-.3a2.305,2.305,0,0,0-.485-2.3.607.607,0,0,0-.789-.061h0c-.91-.061-.91,1.092-1.092,1.7s-.849,2.3-.546,3.4a1.334,1.334,0,0,0,1.7.971c.91-.243.789-1.092,1.092-1.82a1.577,1.577,0,0,0,.182-1.152A2,2,0,0,0,113.84,9.793Z"
                                    transform="translate(-43.659 -2.753)" fill="#32187c" />
                                <path id="Path_35637" data-name="Path 35637"
                                    d="M99.1.665c-1.031.91-.607,2.912.182,3.579,2.305,2.062,4,.607,4.974,1.092s3.094,2.366,4.064.182C110.023,1.818,101.349-1.458,99.1.665Z"
                                    transform="translate(-38.75 0.005)" fill="#32187c" />
                                <path id="Path_35638" data-name="Path 35638"
                                    d="M158.2,230.3s2.244,3.215.667,5.7c0,0-11.646.546-15.164,0,0,0-.121-4.307,2.912-4.671s6.915-.546,6.915-.546A3.46,3.46,0,0,0,158.2,230.3Z"
                                    transform="translate(-56.535 -90.603)" fill="#1f0d52" />
                                <g id="Group_12087" data-name="Group 12087" transform="translate(0 17.109)">
                                    <rect id="Rectangle_13496" data-name="Rectangle 13496" width="6.492" height="32.44"
                                        transform="translate(35.703 10.122) rotate(11.535)" fill="#1f0d52" />
                                    <path id="Path_35639" data-name="Path 35639"
                                        d="M62.228,28.322h0A5.7,5.7,0,0,0,55.5,32.689l-1.274,6.066a5.7,5.7,0,0,0,4.367,6.733h0a5.7,5.7,0,0,0,6.733-4.367L66.6,35.055a5.7,5.7,0,0,0-4.367-6.733Z"
                                        transform="translate(-21.285 -28.201)" fill="#5f40d4" />
                                    <g id="Group_12086" data-name="Group 12086" transform="translate(0 32.391)">
                                        <path id="Path_35640" data-name="Path 35640"
                                            d="M31.24,123.564l-15.1-3.154a1.092,1.092,0,0,1-.849-1.274h0a1.092,1.092,0,0,1,1.274-.849l15.1,3.154a1.092,1.092,0,0,1,.849,1.274h0A1.092,1.092,0,0,1,31.24,123.564Z"
                                            transform="translate(-6.007 -96.026)" fill="#ab91ff" />
                                        <path id="Path_35641" data-name="Path 35641"
                                            d="M51.136,127.71l15.1,3.154a1.092,1.092,0,0,0,1.274-.849h0a1.092,1.092,0,0,0-.849-1.274l-15.1-3.154a1.092,1.092,0,0,0-1.274.849h0A1.092,1.092,0,0,0,51.136,127.71Z"
                                            transform="translate(-19.777 -98.898)" fill="#ab91ff" />
                                        <path id="Path_35642" data-name="Path 35642"
                                            d="M2.759,197.626l-1.213,1.638-.546-2L2.213,191.5l1.759.364Z"
                                            transform="translate(-0.393 -124.837)" fill="#331b6c" />
                                        <path id="Path_35643" data-name="Path 35643"
                                            d="M56.3,208.863l.485,1.941,1.274-1.577,1.213-5.762-1.759-.364Z"
                                            transform="translate(-22.15 -129.401)" fill="#331b6c" />
                                        <path id="Path_35644" data-name="Path 35644"
                                            d="M0,148.141l4.185,1.153,2.669-11.586L29.116,91.366l-.607-8.249L25.779,81.6.485,135.949Z"
                                            transform="translate(0 -81.6)" fill="#5f40d4" />
                                        <path id="Path_35645" data-name="Path 35645"
                                            d="M61.307,158.472,57,157.805l2.184-11.646-1.82-51.316,3.882-7.34,3.094-.3,1.4,59.869Z"
                                            transform="translate(-22.425 -83.803)" fill="#5f40d4" />
                                    </g>
                                    <path id="Path_35646" data-name="Path 35646"
                                        d="M60.458,75.579a11.949,11.949,0,1,0-5.143,7.57A11.95,11.95,0,0,0,60.458,75.579Z"
                                        transform="translate(-14.48 -41.187)" fill="#331b6c" />
                                    <path id="Path_35647" data-name="Path 35647"
                                        d="M59.236,77.339a8.067,8.067,0,1,0-3.475,5.155A8.067,8.067,0,0,0,59.236,77.339Z"
                                        transform="translate(-17.018 -43.736)" fill="#ffe092" />
                                    <path id="Path_35648" data-name="Path 35648"
                                        d="M58.738,77.979a6.672,6.672,0,1,0-7.885,5.156A6.672,6.672,0,0,0,58.738,77.979Z"
                                        transform="translate(-17.915 -44.618)" fill="#ffd341" />
                                </g>
                                <g id="Group_12088" data-name="Group 12088" transform="translate(38.715 43.814)">
                                    <path id="Path_35649" data-name="Path 35649"
                                        d="M71.089,74.933c-1.88-.728-4.853-.971-6.49.607s-.3,1.274.607.91,3.215-.607.485.243c-.546.182-1.577.789-1.456,1.213s2.123,0,2.972-.243-1.152,1.092-1.4,1.456c-.971,1.7,2.669.061,2.851.243s-2,1.274-.849,1.759,2.972-1.274,3.821-1.4,1.213.3,1.638-.364S71.877,75.236,71.089,74.933Z"
                                        transform="translate(-63.825 -73.068)" fill="#ff505c" />
                                    <path id="Path_35650" data-name="Path 35650"
                                        d="M74.878,74.637a8.741,8.741,0,0,0-2.426-2.3c-.728-.243-1.031-.061-.728.485a2.426,2.426,0,0,0,.849.849c.3.182.546.485.789.607a4.549,4.549,0,0,0,1.516.364Z"
                                        transform="translate(-66.887 -72.226)" fill="#ff505c" />
                                </g>
                                <path id="Path_35651" data-name="Path 35651"
                                    d="M145.737,45.052A94.732,94.732,0,0,0,138.276,28.8a4,4,0,0,0-3.579,1.82,2.548,2.548,0,0,0,.849,3.7.667.667,0,0,0,.061.3c3.639,6.308,4.853,13.648,5.884,20.745s1.88,13.769,2.79,20.624c5.1-1.213,8.431-3.154,8.492-4.125S148.466,52.634,145.737,45.052Z"
                                    transform="translate(-52.81 -11.324)" fill="#b8d3d8" />
                                <path id="Path_35652" data-name="Path 35652"
                                    d="M75.3,64.286l1.031,4.307,2,.789c3.639,1.334,11.646,3.761,17.53,2.426s22.2-19.41,18.076-22.747c-2.123-1.759-12.8-3.094-12.313-.3S93.679,62.1,91.8,63.133C90.828,63.619,75.3,64.286,75.3,64.286Z"
                                    transform="translate(-29.625 -18.547)" fill="#ff505c" />
                                <path id="Path_35653" data-name="Path 35653"
                                    d="M116.1,41.463c.121-1.274.91-9.463,4.731-13.769,1.759-1.941,7.158-5.277,9.766-3.215,4.185,3.276,2.73,13.405,1.274,20.684C126.654,46.558,120.953,44.981,116.1,41.463Z"
                                    transform="translate(-45.677 -9.372)" fill="#b9dae1" />
                                <g id="Group_12089" data-name="Group 12089" transform="translate(62.658 6.553)">
                                    <path id="Path_35654" data-name="Path 35654"
                                        d="M103.3,13.044a2.184,2.184,0,1,0,2.123-2.244,2.184,2.184,0,0,0-2.123,2.244Z"
                                        transform="translate(-103.298 -10.799)" fill="url(#radial-gradient)" />
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>

        <% EDAPPGS006.ResultInfo.result_type.forEach((item, outerIndex)=> {
            const outerLoop = { index: outerIndex }; // Equivalent to outer_loop
            %>
            <% Object.entries(EDAPPGS006.ResultInfo.genetic_results).forEach((entry, outerIndex)=> {
                const [key, value] = entry;
                const outerLoop = { index: outerIndex }; // Equivalent to outer_loop
                %>
                <% if (value.item_code===item) { %>
                    <% if (outerLoop.index===1) { %>
                        <!-- top text -->
                        <div style="margin-left:0px;margin-top:-335px;">
                            <p
                                style="font-family:notosanscjkscregular; font-weight: 600;color:#393939;font-size:14px;line-height:1.1em;text-align:center;">
                                <%= EDAPPGS006.ResultInfo.personality_1_title %>
                            </p>
                            <p
                                style="font-family:notosanscjkscregular; font-weight: 300;color:#5E5E5E;font-size:11px;line-height:1.4em;text-align:center;margin-left:290px;margin-right:290px;margin-top:10px;">
                                <%= EDAPPGS006.ResultInfo.personality_1_comment %>
                            </p>
                        </div>
                        <% } else if (outerLoop.index===2) { %>
                            <!-- left text -->
                            <div style="margin-left:-360px;margin-top:180px;">
                                <p
                                    style="font-family:notosanscjkscregular; font-weight: 600;color:#393939;font-size:14px;line-height:1.1em;text-align:center;">
                                    <!-- 
                            Planning,<br>
                            Organizing and Analyzing -->
                                    <%= EDAPPGS006.ResultInfo.personality_2_title %>
                                </p>
                                <p
                                    style="font-family:notosanscjkscregular; font-weight: 300;color:#5E5E5E;font-size:11px;line-height:1.4em;text-align:center;margin-left:470px;margin-right:470px;margin-top:10px;">
                                    <%= EDAPPGS006.ResultInfo.personality_2_comment %>
                                </p>
                            </div>
                            <% } else if (outerLoop.index===3) { %>
                                <!-- Right text -->
                                <div style="margin-left:360px;margin-top:-125px;">
                                    <p
                                        style="font-family:notosanscjkscregular; font-weight: 600;color:#393939;font-size:14px;line-height:1.1em;text-align:center;">
                                        <%= EDAPPGS006.ResultInfo.personality_3_title %>
                                    </p>
                                    <p
                                        style="font-family:notosanscjkscregular; font-weight: 300;color:#5E5E5E;font-size:11px;line-height:1.4em;text-align:center;margin-left:120px;margin-right:120px;margin-top:10px;">
                                        <%= EDAPPGS006.ResultInfo.personality_3_comment %>
                                    </p>
                                </div>
                                <% } else { %>
                                    <p></p>
                                    <% } %>
                                        <% } %>
                                            <% }); %>
                                                <% }); %>

                                                    <section>
                                                        <!-- footer -->
                                                        <footer>
                                                            <table
                                                                style="margin-top:120px;margin-left:50px;margin-right:5px; border-top: 0.2px solid #391A56;width:87%;">
                                                                <tr>
                                                                    <td style="width:80%;">
                                                                        <p
                                                                            style="font-family: 'MontserratAlternates-Bold', sans-serif;color:#391a56;font-size:13px;font-weight: 600;margin:10px 0px 0px 0px;padding:0px;">
                                                                            Aptitude Plus
                                                                        </p>
                                                                    </td>
                                                                    <td>
                                                                        <p
                                                                            style="font-family:'Georgia', sans-serif;font-style:italic;color:#5E5E5E;font-size:14px;text-align:right;padding-right:10px;margin:5px 0px 0px 0px;padding:0px;">
                                                                            4
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </footer>
                                                    </section>
    </div>
</body>

</html>