<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aptitude Plus - Page 3</title>
    <style>
        <%- customFonts %><%- customCSS %>
    </style>
</head>

<body>
    <div style="background:#f1f9ff;">
        <section>
            <div style="padding-top:30px;">
                <p
                    style="font-family:NotoSansCJKjp;font-weight:600;color:#391A56;font-size:20px;text-align:center;line-height:1.8em;">
                    What Is My Interest Type?</p>
                <hr style="width:73%;text-align:center;height:0.5px;color:#E2E2E3; margin-top: -10px;">
            </div>
            <p
                style="font-family:'Noto Sans KR', sans-serif;font-weight: 400;color:#4D4D4D;font-size:15px;text-align:center;line-height:1.6em;margin-left:100px;margin-right:100px;margin-top:25px;">
                "For customer <%= OrderInfo.patient_name %>, our result indicates stronger associations with
                    <span style="color:#7B3DE8;">Social</span> and <span style="color:#7B3DE8;">Conventional
                    </span>types compared to 4 other interest types."
            </p>
        </section>

        <section style="margin-top: -22px;">
            <!-- Actual Graph -->
            <div style="margin-left: 190px;position: relative;margin-top:30px;">
                <img src="data:image/svg+xml;base64,<%= RadarGraphBase64 %>" width="391" height="361"
                    class="img-fluid mx-auto d-block" />
            </div>

            <!-- hexagon side values -->
            <table style="width: 100%;position:absolute;top:13.5%;left:1.3%;">
                <tr>
                    <td style="text-align: center;height:130px;" colspan="3">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <g id="Group_7787" data-name="Group 7787" transform="translate(-52.675 -75.675)">
                                    <circle id="Ellipse_2" data-name="Ellipse 2" cx="15" cy="15" r="15"
                                        transform="translate(52.675 75.675)" fill="#76eefb" />
                                    <text id="R" transform="translate(61.676 94.675)" fill="#391a56" font-size="15"
                                        font-family="'Georgia', sans-serif;" font-weight="700" font-style="italic"
                                        letter-spacing="-0.04em" text-anchor="middle">
                                        <tspan x="6" y="2">A</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <p style="font-family:'Noto Sans KR', sans-serif; font-weight:400;font-size:12px;margin:0px">
                            Artistic</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:34%;text-align:right;height:140px;vertical-align:top;">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <g id="Group_7787" data-name="Group 7787" transform="translate(-52.675 -75.675)">
                                    <circle id="Ellipse_2" data-name="Ellipse 2" cx="15" cy="15" r="15"
                                        transform="translate(52.675 75.675)" fill="#ffe681" />
                                    <text id="R" transform="translate(61.676 94.675)" fill="#391a56" font-size="15"
                                        font-family="'Georgia', sans-serif;" font-weight="700" font-style="italic"
                                        letter-spacing="-0.04em" text-anchor="middle">
                                        <tspan x="6" y="2">S</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <p style="font-family:'Noto Sans KR', sans-serif; font-weight:400;font-size:12px;margin:0px;">
                            Social</p>
                    </td>
                    <td style="width:32%;">&nbsp;</td>
                    <td style="width:34%;text-align:left;height:140px;vertical-align:top;">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <g id="Group_7787" data-name="Group 7787" transform="translate(-52.675 -75.675)">
                                    <circle id="Ellipse_2" data-name="Ellipse 2" cx="15" cy="15" r="15"
                                        transform="translate(52.675 75.675)" fill="#58a1fc" />
                                    <text id="R" transform="translate(61.676 94.675)" fill="#391a56" font-size="15"
                                        font-family="'Georgia', sans-serif;" font-weight="700" font-style="italic"
                                        letter-spacing="-0.04em" text-anchor="middle">
                                        <tspan x="6" y="2">C</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <p style="font-family:'Noto Sans KR', sans-serif; font-weight:400;font-size:12px;margin:0px">
                            Conventional</p>
                    </td>

                </tr>
                <tr>
                    <td style="text-align:right;height:100px;">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <g id="Group_7787" data-name="Group 7787" transform="translate(-52.675 -75.675)">
                                    <circle id="Ellipse_2" data-name="Ellipse 2" cx="15" cy="15" r="15"
                                        transform="translate(52.675 75.675)" fill="#7582fb" />
                                    <text id="R" transform="translate(61.676 94.675)" fill="#391a56" font-size="15"
                                        font-family="'Georgia', sans-serif;" font-weight="700" font-style="italic"
                                        letter-spacing="-0.04em" text-anchor="middle">
                                        <tspan x="6" y="2">R</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <p style="font-family:'Noto Sans KR', sans-serif; font-weight:400;font-size:12px;margin:0px">
                            Realistic</p>
                    </td>
                    <td>&nbsp;</td>
                    <td style="text-align:left;height:100px;">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <g id="Group_7787" data-name="Group 7787" transform="translate(-52.675 -75.675)">
                                    <circle id="Ellipse_2" data-name="Ellipse 2" cx="15" cy="15" r="15"
                                        transform="translate(52.675 75.675)" fill="#fb8c78" />
                                    <text id="R" transform="translate(61.676 94.675)" fill="#391a56" font-size="15"
                                        font-family="'Georgia', sans-serif;" font-weight="700" font-style="italic"
                                        letter-spacing="-0.04em" text-anchor="middle">
                                        <tspan x="6" y="2">E</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <p style="font-family:'Noto Sans KR', sans-serif; font-weight:400;font-size:12px;margin:0px">
                            Enterprising</p>
                    </td>

                </tr>
                <tr>
                    <td style="text-align: center;" colspan="3">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <g id="Group_7787" data-name="Group 7787" transform="translate(-52.675 -75.675)">
                                    <circle id="Ellipse_2" data-name="Ellipse 2" cx="15" cy="15" r="15"
                                        transform="translate(52.675 75.675)" fill="#78fbb2" />
                                    <text id="R" transform="translate(61.676 94.675)" fill="#391a56" font-size="15"
                                        font-family="'Georgia', sans-serif;" font-weight="700" font-style="italic"
                                        letter-spacing="-0.04em" text-anchor="middle">
                                        <tspan x="6" y="2">I</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <p style="font-family:'Noto Sans KR', sans-serif; font-weight:400;font-size:12px;margin:0px">
                            Investigative</p>
                    </td>
                </tr>
            </table>
        </section>

        <section class="">
            <!-- pointers -->
            <div style="width:81%;margin-left:120px;margin-top:-28px;">
                <!-- Social-->
                <% EDAPPGS006.ResultInfo.result_type.forEach((item, outerIndex)=> { %>
                    <% for (const [key, value] of Object.entries(EDAPPGS006.ResultInfo.genetic_results)) { %>
                        <% if (value.item_code===item) { %>
                            <div style="display: grid; grid-template-columns: 0px auto; column-gap: 20px;">
                                <div
                                    style="position: relative; text-align:center; justify-items: center; align-items: center;">
                                    <div style="margin-top:25px;">
                                        <!--hexagon S-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90"
                                            viewBox="0 0 90 90">
                                            <% if (value.item_code==="A" ) { %>
                                                <path
                                                    d="M57.773,0,77.031,33.333,57.773,66.667H19.258L0,33.333,19.258,0Z"
                                                    transform="translate(66.667) rotate(90)" fill="#76eefb"
                                                    font-family="'Georgia', sans-serif;" />
                                                <% } else if (value.item_code==="C" ) { %>
                                                    <path
                                                        d="M57.773,0,77.031,33.333,57.773,66.667H19.258L0,33.333,19.258,0Z"
                                                        transform="translate(66.667) rotate(90)" fill="#7582fb"
                                                        font-family="'Georgia', sans-serif;" />
                                                    <% } else if (value.item_code==="E" ) { %>
                                                        <path
                                                            d="M57.773,0,77.031,33.333,57.773,66.667H19.258L0,33.333,19.258,0Z"
                                                            transform="translate(66.667) rotate(90)" fill="#fb8c78"
                                                            font-family="'Georgia', sans-serif;" />
                                                        <% } else if (value.item_code==="I" ) { %>
                                                            <path
                                                                d="M57.773,0,77.031,33.333,57.773,66.667H19.258L0,33.333,19.258,0Z"
                                                                transform="translate(66.667) rotate(90)" fill="#78fbb2"
                                                                font-family="'Georgia', sans-serif;" />
                                                            <% } else if (value.item_code==="R" ) { %>
                                                                <path
                                                                    d="M57.773,0,77.031,33.333,57.773,66.667H19.258L0,33.333,19.258,0Z"
                                                                    transform="translate(66.667) rotate(90)"
                                                                    fill="#cf74fc"
                                                                    font-family="'Georgia', sans-serif;" />
                                                                <% } else if (value.item_code==="S" ) { %>
                                                                    <path
                                                                        d="M57.773,0,77.031,33.333,57.773,66.667H19.258L0,33.333,19.258,0Z"
                                                                        transform="translate(66.667) rotate(90)"
                                                                        fill="#ffe681"
                                                                        font-family="'Georgia', sans-serif;" />
                                                                    <% } else { %>
                                                                        <path
                                                                            d="M57.773,0,77.031,33.333,57.773,66.667H19.258L0,33.333,19.258,0Z"
                                                                            transform="translate(66.667) rotate(90)"
                                                                            fill="#cf74fc"
                                                                            font-family="'Georgia', sans-serif;" />
                                                                        <% } %>
                                        </svg>
                                    </div>
                                    <div
                                        style="color:#391A56; text-align:center; margin-top: -82px; position: relative; z-index: 1;">
                                        <h3
                                            style="font-family:'Georgia', sans-serif;color:#391A56;font-size:20.5px;margin:0px 0px 0px 27px;">
                                            <%= value.item_code %>
                                        </h3>
                                        <p
                                            style="font-family:'Noto Sans KR', sans-serif; font-weight: 500; margin-top:-30px;font-size:11px;line-height:1.1em;margin-top: -1px; margin-left: 13px;">
                                            <%= value.holland_code.replace(/(.{7})/g, '$1-<br/>' ) %>
                                        </p>
                                    </div>
                                </div>

                                <div style="margin-left: 80px; margin-right: 90px;">
                                    <div>
                                        <p
                                            style="font-family:'Noto Sans KR', sans-serif;color:#391A56;font-size:16px;text-align:left;line-height:1.6em;margin:25px 0px 0px 0px;">
                                            <%= value.holland_code %>
                                        </p>
                                    </div>
                                    <div>
                                        <% if (outerIndex===0) { %>
                                            <p
                                                style="font-family:Noto Sans KR; font-weight: 500; color:#3c3c3c;font-size:14px;text-align:left;line-height:1.6em;margin:5px 0px 0px 0px;padding:0px;">
                                                "<%= EDAPPGS006.ResultInfo.interest_1_title %>"
                                            </p>
                                            <p
                                                style="font-family:Noto Sans KR; font-weight: 300; color:#5E5E5E;font-size:11px;text-align:justify;line-height:1.6em;padding:0px;margin:0px;">
                                                <%= EDAPPGS006.ResultInfo.interest_1_comment %>
                                            </p>
                                            <% } else if (outerIndex===1) { %>
                                                <p
                                                    style="font-family:Noto Sans KR; font-weight: 500; color:#262626;font-size:14px;text-align:left;line-height:1.6em;margin:5px 0px 0px 0px;padding:0px;">
                                                    "<%= EDAPPGS006.ResultInfo.interest_2_title %>"
                                                </p>
                                                <p
                                                    style="font-family:Noto Sans KR; font-weight: 300; color:#5E5E5E;font-size:11px;text-align:justify;line-height:1.6em;padding:0px;margin:0px;">
                                                    <%= EDAPPGS006.ResultInfo.interest_2_comment %>
                                                </p>
                                                <% } else if (outerIndex===2) { %>
                                                    <p
                                                        style="font-family:Noto Sans KR; font-weight: 500; color:#262626;font-size:14px;text-align:left;line-height:1.6em;margin:5px 0px 0px 0px;padding:0px;">
                                                        "<%= EDAPPGS006.ResultInfo.interest_3_title %>"
                                                    </p>
                                                    <p
                                                        style="font-family:Noto Sans KR; font-weight: 300; color:#5E5E5E;font-size:11px;text-align:justify;line-height:1.6em;padding:0px;margin:0px;">
                                                        <%= EDAPPGS006.ResultInfo.interest_3_comment %>
                                                    </p>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                                    <% }); %>
            </div>
        </section>


        <section>
            <!-- footer -->
            <footer>
                <table
                    style="margin-top:120px;margin-left:50px;margin-right:5px; border-top: 0.2px solid #391A56;width:87%;">
                    <tr>
                        <td style="width:80%;">
                            <p
                                style="font-family: 'MontserratAlternates-Bold', sans-serif;color:#391a56;font-size:13px;font-weight: 600;margin:10px 0px 0px 0px;padding:0px;">
                                Aptitude Plus
                            </p>
                        </td>
                        <td>
                            <p
                                style="font-family:'Georgia', sans-serif;font-style:italic;color:#5E5E5E;font-size:14px;text-align:right;padding-right:10px;margin:5px 0px 0px 0px;padding:0px;">
                                3
                            </p>
                        </td>
                    </tr>
                </table>
            </footer>
        </section>
    </div>
</body>

</html>